@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg,
            #9b34ef 0%,
            #490cb0 20%,
            transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,
            #5516ba,
            rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    background-color: var(--primary-color);
}

header .menu{
    width: 100%;
    padding: 12px 16px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg-color);
    z-index: 1;
}

header nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    color: white;
    padding: .9rem 2.2rem .5rem 1rem;
}

header .nav__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

header nav button {
    background-color: var(--tertiary-color);
    border: none;
    padding: 0.45rem 1.5rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

header nav a {
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

header nav img {
    width: 10rem;
}

.container {
    text-align: center;
    padding: 24px;
    margin: auto;
    max-width: 1200px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 4rem;
}

footer.links__legal {
    display: flex;
    flex-direction: column;
}

footer .links {
    display: flex;
    gap: 2.2rem;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

footer .links a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: .875rem;
    transition: color 0.5s;
}

footer .links a:hover {
    color: var(--text-color);
}

footer .footer__legal {
    color: var(--link-color);
    font-size: 0.75rem;
    margin: 16px 0;
    font-weight: 300;
}

footer .socials {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 480px) {
    section {
      scroll-margin-top: 120px;
    }
  
    .menu {
      padding: 32px 24px;
      flex-direction: column;
      gap: 24px;
    }
  
    .nav__login img {
      max-width: 100px;
    }
  
    .menu button {
      margin: 0;
    }
  
    .header {
      margin-top: 128px !important;
    }
  
    footer .links {
      flex-wrap: wrap;
      margin-bottom: 16px;
    }
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}