@import url('./global.css');

body {
    background-image: url(../images/background-movies-series.png);
    background-size: cover;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", cursive;
    width: 100%;
    height: 70%;
    padding: 24px;
}

.container__login {
    width: 100%;
    max-width: 800px;
    background-color: var(--form-bg-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
}

.container__login h3 {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.35rem;
}

.login__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__inputs input {
    padding: 1rem;
    border-radius: 10px;
    border: var(--form-field-border);
    background: var(--form-field-bg-color);
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
}

.login__actions button {
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    padding: 1rem 3rem;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .8rem;
    font-weight: bold;
    margin-right: 20px;
    transition: background 1s, outline 1s, transform 1s;
    cursor: pointer;
}

.login__actions button:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

.login__actions a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .login__actions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-items: center;
    }

    .login__actions button {
        width: 100%;
    }
}